* {
  font-family: Stencil Std, fantasy;
  font-weight: 100;
  color: gold;
}

body {
  display: flex;
  justify-content: center;
  background-color: #770606;
}

.table {
  width: 90vw;
  height: 90vh;
  background-color: #008000;
  border-radius: 50px;
  border: 40px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.choicesContainer {
  display: flex;
  justify-content: center;
}

.mode {
  color: white;
  background-color: gold;
  border-radius: 10px;
}

#enemyChoice {
  height: 210px;
  width: 150px;
  border-radius: 8px;
  background-color: white;
  background-size: 150px 200px;
}
.choice {
  height: 190px;
  width: 150px;
  border-radius: 8px;
  transition: all ease 0.7s;
  margin: 2px;
}

.house {
  display: flex;
  justify-content: center;
}

.info {
  margin-left: 5px;
  display: flex;
  flex-direction: column;
}

.hidden {
  display: none;
}

.resetHolder {
  display: flex;
  justify-content: center;
}

#reset {
  color: white;
  font-size: larger;
  background-color: gold;
  margin: 0px 30px;
  border-radius: 10px;
}

button[playerChoice="rock"] {
  background-image: url("./rock.jpg");
  background-size: 150px 180px;
}

button[playerChoice="paper"] {
  background-image: url("./paper.jpg");
  background-size: 150px 180px;
}

button[playerChoice="scissors"] {
  background-image: url("./scissors.jpg");
  background-size: 150px 180px;
}

.leftChosen {
  transform: translate(154px, -190px);
}

.middleChosen {
  transform: translate(0px, -190px);
}

.rightChosen {
  transform: translate(-154px, -190px);
}

.nextContainer {
  display: flex;
  justify-content: center;
}

#next {
  font-size: larger;
  color: black;
  display: none;
  position: absolute;
  margin-right: 500px;
  margin-top: 300px;
  width: 150px;
  height: 50px;
  border-radius: 30px;
}

.result {
  display: flex;
  justify-content: center;
}

.scores {
  display: flex;
  justify-content: space-between;
}

.score {
  color: black;
  background-color: white;
  border: black 3px solid;
  padding: 4px;
}

.casinoScore {
  display: flex;
}

.playerScore {
  display: flex;
}
